@import '../../base/vars/fonts.css';
@import '../../base/vars/colors.css';

.base {
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  line-height: 1.2;
  white-space: nowrap;
}

.body {
  font-size: 48px;
}

.alt-body {
  font-size: 38px;
}

.header {
  font-family: var(--ff-secondary);
  font-size: 70px;
  font-weight: 300;
  letter-spacing: -2px;
}

.sub-header {
  margin-right: -11px;
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 11px;
}

.accent {
  display: inline-block;
  width: auto;
  margin-right: -3px;
  font-family: var(--ff-accent);
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 3px;
}

.black { color: var(--c-black); }
.grey { color: var(--c-grey); }

.mb10 { margin-bottom: 10px; }
.mb30 { margin-bottom: 30px; }
.mb60 { margin-bottom: 60px; }
.mb80 { margin-bottom: 80px; }
.mb130 { margin-bottom: 130px; }
