@import '../../base/vars/colors.css';

.playback {
  display: flex;
  width: 100%;
  margin-bottom: 70px;
  align-items: center;
  justify-content: center;
}

.bar {
  display: inline-block;
  overflow: hidden;
  width: 540px;
  height: 4px;
  border-radius: 2px;
  margin: 0 45px;
  position: relative;
  background-color: var(--c-grey);
}

.progress {
  width: calc(var(--progress) * 1%);
  height: 100%;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--c-green);
  transition: width 200ms ease;
  content: ' ';
}
