@import '../../base/vars/colors.css';

.container {
  width: 448px;
  height: 448px;
  border: 6px solid var(--c-grey);
  border-radius: 224px;
  margin-bottom: 100px;
}

.artwork {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.active { opacity: 1; }
