@import '../../base/vars/colors.css';
@import '../../base/animations.css';

.artwork,
.disabled {
  width: 448px;
  height: 448px;
  border-radius: 224px;
  margin-bottom: 100px;
  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.disabled {
  display: inline-block;
  border: 6px solid var(--c-grey);
}
