@import '../../base/vars/colors.css';

.header {
  position: absolute;
  top: 80px;
  left: 80px;
  text-align: left;
}

.logo {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  background-color: var(--c-green);
}
